<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB13</display-name>
  <servlet>
    <servlet-name>QuickStart</servlet-name>
    <servlet-class>com.itheima.servlet.QuickStartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuickStart</servlet-name>
    <url-pattern>/quickStart</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QuickStart_2</display-name>
    <servlet-name>QuickStart_2</servlet-name>
    <servlet-class>com.itheima.servlet.QuickStart_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuickStart_2</servlet-name>
    <url-pattern>/QuickStart_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_register</display-name>
    <servlet-name>Login_register</servlet-name>
    <servlet-class>com.itheima.servlet.Login_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_register</servlet-name>
    <url-pattern>/Login_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>com.itheima.servlet.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verification_img</display-name>
    <servlet-name>verification_img</servlet-name>
    <servlet-class>verification_code.verification_img</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verification_img</servlet-name>
    <url-pattern>/verification_img</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>redirect</display-name>
    <servlet-name>redirect</servlet-name>
    <servlet-class>web_redirect.redirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirect</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>get_img</display-name>
    <servlet-name>get_img</servlet-name>
    <servlet-class>get_img.get_img</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get_img</servlet-name>
    <url-pattern>/get_img</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>download</display-name>
    <servlet-name>download</servlet-name>
    <servlet-class>servlet.download.download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setCookie</display-name>
    <servlet-name>setCookie</servlet-name>
    <servlet-class>cookie.setCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setCookie</servlet-name>
    <url-pattern>/setCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getCookie</display-name>
    <servlet-name>getCookie</servlet-name>
    <servlet-class>cookie.getCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCookie</servlet-name>
    <url-pattern>/getCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setSession</display-name>
    <servlet-name>setSession</servlet-name>
    <servlet-class>session.setSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setSession</servlet-name>
    <url-pattern>/setSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getSession</display-name>
    <servlet-name>getSession</servlet-name>
    <servlet-class>session.getSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSession</servlet-name>
    <url-pattern>/getSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check_User</display-name>
    <servlet-name>Check_User</servlet-name>
    <servlet-class>ajax_check_username.Check_User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check_User</servlet-name>
    <url-pattern>/Check_User</url-pattern>
  </servlet-mapping>
</web-app>